@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

*,*::before,*::after{
  font-family: 'Roboto','Poppins', sans-serif;
  box-sizing: border-box;
}
/* Carousel Style */

.carousel::-webkit-scrollbar  {
  height: 10px;
}

.carousel::-webkit-scrollbar-track {
  background: rgb(10,10,10); 
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 100vw;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: #737373; 
}
/* custom mobile responsive */
@media only screen and (min-width: 550px){
  .landingHeader{
    font-size: 50px;
    line-height: 50px;
  }
  .landingParag{
    font-size: 27px;
  }
}